<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.8.1" />
    <httpRuntime targetFramework="4.8.1"/>
  </system.web>
  <system.serviceModel>
    
    <services>
      
      <service name="WcfSimple.ContactManager1">
        <endpoint address="ContactManager" behaviorConfiguration="WcfSimple.Service2AspNetAjaxBehavior"
          binding="webHttpBinding" contract="WcfSimple.IContactManager1" />
      </service>
      <service name="WcfSimple.Service1">
        <endpoint address="Service1" binding="wsHttpBinding" 
                  contract="WcfSimple.IService1"/>
      </service>
    </services>
    <bindings>
      <wsHttpBinding>
        <binding>
          <reliableSession enabled="true"/>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="WcfSimple.Service2AspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior >
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
